# Jspreadsheet Pro licence certificate (single key for grid + formula-pro).
# When set, the app boots in "pro mode": /sheets gets the full editor
# (toolbar, formula bar, tabs) and dashjs calculated fields evaluate for real.
# When absent, everything runs in the current simple/evaluation mode.
VITE_JSS_LICENSE=
